@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --first-color: #c7f9f0;
  --second-color: #f8e8a2;
  --third-color: #e4857d;
  --fourth-color: #52617d;
  --fifth-color: #181415;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--first-color);
}

.Wrapper {
  width: 60vw;
  padding: 20px;
  margin: 5vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--fourth-color);
  border-radius: 10px;
}

.SearchBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.SearchBar input {
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  border: 0;
}

.SearchBar input:focus {
  outline: 0;
  box-shadow: 2px 2px 2px #c7f9f0;
}

.SearchBar button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.SearchBar button:hover {
  background-color: #c7f9f0;
  opacity: 0.6;
}

.icon-container {
  width: 50%;
}

.Icon {
  margin-bottom: 15px;
  padding: 20px;
}

.icon {
  font-size: 100px;
}

.weather-icon {
  margin-bottom: 10px;
}

.city-name-day {
  color: yellow;
  text-transform: capitalize;
  font-weight: bold;
  margin: 5px;
}

.city-name-night {
  color: whitesmoke;
  text-transform: capitalize;
  font-weight: bold;
  margin: 5px;
}

.sky-description {
  font-weight: bold;
}

.DateTime {
  padding: 10px;
}

.DateTime h3 {
  text-transform: capitalize;
}

.clock-icon {
  color: whitesmoke;
  font-size: 30px;
  margin-bottom: 5px;
}

.Info {
  width: 50%;
  display: block;
  padding: 10px;
}

.card {
  margin: 5px;
  padding: 10px;
  background-color: var(--third-color);
  color: #fff;
  border-radius: 10px;
}

.first-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.WeatherMessage {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}

.ErrorPage {
  padding: 10px;
}

@media (max-width: 800px) {
  .Wrapper {
    width: 80vw;
    height: 100vh;
    margin: 0;
  }
  .Icon {
    margin-top: -20px;
    margin-bottom: 0;
  }
  .DateTime {
    margin-top: -20px;
    margin-bottom: 0;
  }
  .WeatherMessage {
    margin-top: -10px;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .Wrapper {
    width: 100vw;
    height: 100vh;
    display: block;
    padding: 0;
    margin: 0;
  }

  .icon-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
  }

  .WeatherMessage {
    margin-top: 5px;
    padding: 0;
  }

  .Info {
    width: 100%;
    padding: 5px;
  }

  .card {
    margin: 2.5px;
    padding: 5px;
  }

  .icon {
    font-size: 50px;
  }

  p {
    font-size: 15px;
  }
  h2 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
}
